.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .menu {
  list-style: none;
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px 150px;
  z-index: 1;
}

.navbar .menu li {
  width: 130px;
  text-align: center;
  color: #fff;
}

.navbar .imageContainer {
  margin-left: 50px;
}

.navbar .line {
  width: 500px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin-left: 250px;
  z-index: 50;
  /* z-index: 1000 !important; */
}
